@model VolunteersProject.DTO.EnterEmailForPasswordRecoveryDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverPasswordGetEmail</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<center>
    <h4 class="align-content-center" style="color:darkcyan">
        Enter your email for password reset.
    </h4>
</center>
<body style="background-color:lightblue">
    <center>
        <div class="align-content-center">
            <div class="col-md-4">
                <form asp-action="InputEmailResetPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.Email_Error))
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <div class="col-md-12">
                                <div class="text-danger">
                                    @Html.Raw(@ViewBag.Email_Error)
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Recover Password" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </center>
</body>
</html>
