<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeMag JWT Demo</title>
</head>

<body>
    @{
        ViewBag.Title = "Volunteers Application";
    }

    <p>Welcome, to HappyCamps portal.&nbsp</p>

    <h5>Total HappyPoints is:@ViewBag.TotalPoints</h5>

    @{
        Html.RenderPartial("LoggedUserEventsInfo");
    }

</body>
</html>
